numpy
scipy
matplotlib
pyqt5
numba
opencv-python
tqdm
pyyaml
yacs
easydict
pillow
imageio
imageio-ffmpeg
pytransform3d
py3rosmsgs
rosbags
bagpy
--extra-index-url https://rospypi.github.io/simple/
roslz4 
evo
cvbridge3
open3d
pycryptodome
einops
torch-summary
